<app-navigation></app-navigation>
<div class="container">
    <div class="row g-5  mt-5 mb-5">
        <div class="col-8  border-start border-4 border-primary shadow-sm" >
            <h2 class="text-blue">Principal's Message</h2>
            <p>"The function of education is to teach one to think intensively and to think critically. Intelligence
                plus character — that is the goal of true education."</p>
            <p>Dear Parents and Students,</p>
            <p>Welcome to<span class="text-blue">Rajendra Mohan Chandrika Prasad Academy,s</span>  a place where learning is a journey, not just a
                destination. It is our mission to provide an education that fosters both intellectual growth and
                personal development.</p>
            <p>At RMCP Academy, we are committed to excellence in academics, innovation in teaching, and the holistic
                development of our students. We believe in cultivating critical thinking, creativity, and leadership
                skills to prepare our students for a dynamic future.</p>
            <p>Our passionate educators, state-of-the-art facilities, and enriching extracurricular programs ensure that
                every child receives the best possible learning experience. We encourage students to dream big,
                challenge themselves, and embrace learning with enthusiasm.</p>
            <p>I invite parents and guardians to be active partners in this journey. Together, we can create a vibrant,
                nurturing environment where our students thrive and become responsible, compassionate individuals.</p>
        </div>
        <div class="col-4 ">

            <div class=" shadow-sm border-4 border-top border-primary ">
                <h4>Mrs. Shikha Saxena</h4>
                <p>Principal</p>
                <p>Visionary Educator, Philanthropist & Community Leader</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>