
.text-gray-600 {
    color: #4b5563;
    
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.font-medium {
    font-weight: 500;
}
.font-semibold {
    font-weight: 600;
}
.font-size{
   
    font-size: 18px;
}
.education-bg{
    background: #ffedd5fa;
    border-radius: 5px;
    
}