<app-navigation></app-navigation>
<div class="container">
    <h3 class=" text-center ">AboutRMCP <span class="text-blue">Academy</span></h3>
    <p class="text-center">RMCP Academy holds prestigious accreditations that validate our commitment to educational
        excellence, <br> quality assurance, and continuous improvement</p>
    <div class="row gap-5 mb-5 mt-5 ">
        <div class="col-8 shadow-sm">
            <div class="row">
                <div class="col-3">
                    <img src="../../../assets/Accreditations/Accreditationsimg.png" alt="" class="img-fluid">
                </div>
                <div class="col-9 ">
                    <div class="d-flex justify-content-between">
                        <h5>CBSE Affiliation</h5>
                        <h6 class="education-bg px-1 py-1" >Educational Board</h6>
                    </div>
                    <p class="m-0 mb-4 p-0 text-gray-600 text-sm">Full recognition as a Senior Secondary School meeting all CBSE quality standards
                        and
                        curriculum requirements.</p>
                    <p class="m-0 p-0 text-gray-600 text-sm">Issued By:</p>
                    <p class="m-0 p-0 font-medium">Central Board of Secondary Education</p>
                </div>

            </div>
        </div>
        <div  class="col-3 border-start border-4 border-primary shadow-sm rounded-3 p-3 bg-white">
            <h5 class="font-semibold font-size">Key Benefits</h5>
            <ul>
                <li class="text-sm" >Standardized quality education</li>
                <li class="text-sm">
                     Recognition by higher education institutions</li>
                <li class="text-sm" >
                     Regular quality audits and improvements</li>
                <li class="text-sm" >Internationally recognized standards</li>
            </ul>
        </div>
    </div>
</div>
<app-footer></app-footer>