<app-navigation></app-navigation>
<div class="container my-5">
    <h2 class="text-center mb-3"> E-   <span class="text-blue"> Magazine</span> </h2>
<p class="para-size text-gray-700 text-center mb-4">Explore our quarterly publications</p>
<div class="gallery">
    <div class="row gap-0 mb-4">
        <div class="col-4">
          <div class="card" style="width: 18rem;">
                <img src="../../../assets/Press Coverage/Press Coverages/Press Coverage1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> <i class="fa-solid fa-book-open"></i> Education Today</h5>
                    <p class="card-text">Learning Center Recognized for Excellence in Special Education</p>
                   <a href="#">March 15, 2025</a>
                </div>
            </div>
        </div>
          <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/Press Coverage/Press Coverages/Press Coverage2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> <i class="fa-solid fa-book-open"></i> Winter Special</h5>
                    <p class="card-text">New year learning strategies</p>
                      <a href="#">PDF Magazine</a>
                </div>
            </div>
        </div>
          <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/Press Coverage/Press Coverages/Press Coverage3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-book-open"></i> Fall Edition</h5>
                    <p class="card-text">STEM activities for diverse learners</p>
                     <a href="#">PDF Magazine</a>
                </div>
            </div>
        </div>
    </div>

     <div class="row gap-0 mb-4 ">
        <div class="col-4">
          <div class="card" style="width: 18rem;">
                <img src="../../../assets/Press Coverage/Press Coverages/Press Coverage5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> <i class="fa-solid fa-book-open"></i> Spring Edition</h5>
                    <p class="card-text">Focus on literacy skills development</p>
                   <a href="#">PDF Magazine</a>
                </div>
            </div>
        </div>
          <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/Press Coverage/Press Coverages/Press Coverage6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> <i class="fa-solid fa-book-open"></i> Winter Special</h5>
                    <p class="card-text">New year learning strategies</p>
                      <a href="#">PDF Magazine</a>
                </div>
            </div>
        </div>
          <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/Gallery/gallery3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-book-open"></i> Fall Edition</h5>
                    <p class="card-text">STEM activities for diverse learners</p>
                     <a href="#">PDF Magazine</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>