<app-navigation></app-navigation>
<div class="container">
    <h2 class="text-center mb-3"> Sports
        <span class="text-blue">& Physical Education</span>
    </h2>
    <p class="para-size text-gray-700 text-center mb-4">"A healthy mind resides in a healthy body"</p>

    <div class="">
        <h3>Comprehensive Sports Program</h3>
        <p>Amity places utmost stress on sports and physical training. Sports help inculcate discipline, self
            confidence, team spirit and self esteem. The sports curriculum at Amity lays emphasis on physical fitness,
            stretching physical abilities to an optimum level.</p>
        <div class="d-flex gap-3">
            <div class="col-4 border rounded p-3 mb-3 ">
                <ul>
                    <h4 class="mb-4">World-Class Facilities</h4>
                    <li>Sprawling playground with modern infrastructure</li>
                    <li>Special areas earmarked for different games</li>
                    <li>Outdoor courts for basketball, and badminton</li>
                </ul>
            </div>
            <div class="col-4 border rounded p-3 mb-3 ">
                <div class=""></div>
                <ul>
                    <h4 class="mb-4">Sports Offerings</h4>
                    <p>Facilities for various sports including:</p>
                    <li>Cricket</li>
                    <li>Football</li>
                    <li>Taekwondo</li>
                    <li>Badminton</li>
                </ul>
                
            </div>
            <div class="col-4 border rounded p-3 mb-3 ">
                <ul>
                    <h4 class="mb-4">World-Class Facilities</h4>
                    <li>Sprawling playground with modern infrastructure</li>
                    <li>Special areas earmarked for different games</li>
                    <li>Outdoor courts for basketball, and badminton</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>