<app-navigation></app-navigation>
<div class="container">
    <h3 class=" text-center ">Primary
        <span class="text-blue">Wing</span>
    </h3>
    <p class="text-center mb-5">The foundation years at RMCP Academy are designed to nurture curious minds through a
        <br>
        perfect blend of play-based and structured learning, establishing strong academic and character <br> foundations
        for lifelong success.
    </p>
    <div class="d-flex bg mb-5">
        <div class="col-8">
            <h3>Our Teaching Methodology</h3>
            <p class="text-gray-700">At RMCP Academy's Primary Wing, we believe that young learners thrive in an
                environment that engages
                their natural curiosity and imagination. Our innovative teaching methodologies are carefully designed to
                make learning joyful, meaningful, and effective, creating a strong foundation for advanced learning in
                higher classes.</p>
        </div>
        <div class="col p-4 ">
            <img src="../../../../assets/Academics/Methodology/primary_wing-CocpXMUF.jpg" class="img-fluid rounded-5"
                alt="Primary students engaged in learning">
        </div>
    </div>
    <div class="d-flex mb-5 gap-4">
        <div class="col bg">
            <div class="d-flex">
                <div class="col"></div>
                <div class="col-8">
                    <h4 class="text-xl">Experiential Learning</h4>
                    <p class="text-sm">Our 'learning by doing' approach encourages students to actively participate in hands-on
                        activities that reinforce theoretical concepts through practical application.</p>
                </div>
            </div>
        </div>
       <div class="col">
            <div class="d-flex bg">
                <div class="col">

                </div>
                <div class="col-8">
                    <h4 class="text-xl">Character Education</h4>
                    <p class="text-sm">We integrate value-based teaching in every subject, nurturing ethical thinking, compassion, respect, and integrity as foundations for lifelong success.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex bg">
                <div class="col">

                </div>
                <div class="col-8">
                    <h4 class="text-xl">Immersive Thematic Approach</h4>
                    <p class="text-sm">Our curriculum follows integrated themes that connect multiple subjects, helping students understand relationships between different areas of knowledge.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>