<app-navigation></app-navigation>
<div class="conatainer">
    <h3 class=" text-center ">Primary
        <span class="text-blue">Wing</span>
    </h3>
    <p class="text-center mb-5">The foundation years at RMCP Academy are designed to nurture curious minds through a <br>
        perfect blend of play-based and structured learning, establishing strong academic and character <br> foundations
        for lifelong success.</p>
        <div class="d-flex">
            
        </div>
</div>
<app-footer></app-footer>