<app-navigation></app-navigation>
<div class="container">
    <div class=" mt-5">
        <h2 class="Main-heading-size font-bold text-center mb-4 ">Guidance
            <span class="text-blue">& Counseling</span>
        </h2>
        <p class=" text-center heading-secondory mb-5">A personalized approach to better learning and development
        </p>
    </div>

    <div class="shadow p-4 rounded mb-5">
        <h4 class="mb-2">Personalized Approach to Better Learning</h4>
        <p>Amity Career Counseling & Guidance Cell aims to offer guidance and support to students both on the academic
            as well as personal front. It follows a two tier approach that ensures a comprehensive support system for
            the child, which in turn ensures better learning.</p>
        <div class="row mt-3 gap-5">
            <div class="col-5 shadow-sm p-1 rounded">
                <h5>Day to Day Counselling</h5>
                <h6>Behavior Issues</h6>
                <p>Support for children facing challenges with conduct, social interactions, and emotional regulation.
                </p>
                <h5>Stress Management</h5>
                <p>Techniques and strategies to help students cope with academic pressure and personal challenges.</p>
            </div>
            <div class="col-5 shadow-sm p-1 rounded">
                <h5>Career Counselling</h5>
                <h6>Paving the Path for a Luminous Future</h6>
                <p>Structured guidance to help students discover their strengths and align them with potential career paths.
                </p>
                <h5>Career Assessment</h5>
                <p>Scientific testing to identify aptitudes, interests, and personality traits for informed career decisions.</p>
            </div>
          
        </div>
    </div>
</div>


<app-footer></app-footer>