
<app-navigation></app-navigation>

<div class="container">
    <div class="container mt-5">
        <h2>Student Details Form</h2>
        <form [formGroup]="primaryWing" (ngSubmit)="onSave()" >
            <div class="row">
                <div class="mb-3 col-4">
                    <label for="stdName" class="form-label">Student First Name</label>
                    <input type="text"
                     class="form-control"
                     id="stdName"
                     placeholder="Enter First Name" 
                     formControlName="stdName"
                    >
                </div>
                <div class="mb-3 col-4">
                    <label for="stdMName" class="form-label">Student Middle Name</label>
                    <input type="text"
                    class="form-control"
                    id="stdMName"
                    placeholder="Enter Middle Name"
                    formControlName="stdMName">
                </div>
                <div class="mb-3 col-4">
                    <label for="stdLName" class="form-label">Student Last Name</label>
                    <input type="text"
                     class="form-control" 
                     id="stdLName" 
                     placeholder="Enter Last Name"
                     formControlName="stdLName"
                      >
                </div>
            </div>
            <!-- Admission Class Section -->
            <div class="row">
                <div class="mb-3 col-6">
                    <!-- <label for="classSelect" class="form-label">Select Class</label> -->
                    <!-- <select class="form-select" id="classSelect" required>
                        <option value="">Choose Class</option>
                        <option value="1">Class 1</option>
                        <option value="2">Class 2</option>
                        <option value="3">Class 3</option>
                        <option value="4">Class 4</option>
                        <option value="5">Class 5</option>
                        <option value="6">Class 6</option>
                        <option value="7">Class 7</option>
                        <option value="8">Class 8</option>
                        <option value="9">Class 9</option>
                        <option value="10">Class 10</option>
                    </select> -->
                    <div class="mb-3 col-4">
                    <label for="stdAdmisionC" class="form-label">Select Class</label>
                    <input type="text"
                     class="form-control" 
                     id="stdAdmisionC" 
                     placeholder="Enter Last Name"
                     formControlName="stdAdmisionC"
                      >
                </div>
                </div>

                <!-- Student Aadhar Section -->
                <div class="mb-3 col-6">
                    <label for="stdAdharNo" class="form-label">Student Aadhar Number</label>
                    <input type="text"
                     class="form-control" 
                     id="stdAdharNo"
                     placeholder="Enter Aadhar Number"
                     formControlName="stdAdharNo"
                    >
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-6 ">
                    <label for="stdAdharDoc" class="form-label">Student Aadhar Document</label>
                    <input type="file"
                     class="form-control" 
                     id="stdAdharDoc"
                     accept=".pdf,.jpg,.jpeg,.png"
                     formControlName="stdAdharDoc"
                     required>
                    <div class="form-text">No file chosen</div>
                </div>

                <!-- Student Birth Certificate Section -->
                <div class="mb-3 col-6 ">
                    <label for="stdBirthCer" class="form-label">Student Birth Certificate</label>
                    <input type="file"
                     class="form-control"
                     id="stdBirthCer" 
                     accept=".pdf,.jpg,.jpeg,.png"
                     formControlName="stdBirthCer"
                     required>
                    <div class="form-text">No file chosen</div>
                </div>
            </div>
            <!-- Student Passport Photo Section -->
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="stdPhoto" class="form-label">Student Passport Photo</label>
                        <input type="file" 
                        class="form-control"
                         id="stdPhoto" 
                         accept=".jpg,.jpeg,.png"
                         formControlName="stdPhoto"
                          required>
                        <div class="form-text">No file chosen</div>
                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary"  >Submit</button>
        </form>
    </div>
</div>

<app-footer></app-footer>
