<div class="bg-primary">
    <h2 class="footer-heading text-center font-bold text-white">RAJENDRA MOHAN CHANDRIKA PRASAD ACADEMY (RMCP ACADEMY)
        BILSANDA</h2>
    <div class="row mx-5">
        <div class="col-4">
            <h3 class="footer-heading-primary nav-link-color font-bold mb-4 footer-primary-heading-color">Contact
                Information</h3>
                <p class="nav-link-color" > <i class="fa-solid fa-location-dot"></i>Near, Gola Road, Vill Ghanshyampur, Bilsanda, Uttar Pradesh 262202</p>
                <p class="nav-link-color" > <i class="fa-solid fa-phone"></i>+91-8445534486</p>
                <p class="nav-link-color" > <i class="fa-solid fa-envelope"></i>rmcpacademy@gmail.com</p>
                <p  class="nav-link-color">Connect With Us</p>
                <div class="">
                    <i class="fa-brands fa-whatsapp nav-link-color"></i>
                    <i class="fa-brands fa-facebook nav-link-color"></i>
                    <i class="fa-brands fa-instagram nav-link-color"></i>
                    <i class="fa-brands fa-linkedin nav-link-color"></i>
                </div>
        </div>
        <div class="col-4">
            <h3 class="footer-heading-primary nav-link-color font-bold mb-4 footer-primary-heading-color"> Quick Links
            </h3>
           
        </div>
        <div class="col-4">
            <h3 class="footer-heading-primary nav-link-color font-bold mb-4 footer-primary-heading-color">Contact Visit
                Us
            </h3>
        </div>
    </div>
</div>