<div class="bg-primary ">
    <h2 class=" pt-3 footer-heading text-center font-bold text-white">RAJENDRA MOHAN CHANDRIKA PRASAD ACADEMY (RMCP ACADEMY)
        BILSANDA</h2>
    <div class="row mx-5 pb-4">
        <div class="col-4">
            <h3 class=" text-center footer-heading-primary nav-link-color font-bold mb-4 footer-primary-heading-color">Contact
                Information</h3>
            <p class="nav-link-color m-2"> <i class="fa-solid fa-location-dot"></i>Near, Gola Road, Vill Ghanshyampur,
                Bilsanda, Uttar Pradesh 262202</p>
            <p class="nav-link-color m-2"> <i class="fa-solid fa-phone"></i>+91-8445534486</p>
            <p class="nav-link-color m-2"> <i class="fa-solid fa-envelope"></i>rmcpacademy@gmail.com</p>
            <p class="nav-link-color m-2">Connect With Us</p>
            <div class="d-flex gap-2">
                <i class="fa-brands fa-whatsapp nav-link-color icon-size"></i>
                <i class="fa-brands fa-facebook nav-link-color icon-size"></i>
                <i class="fa-brands fa-instagram nav-link-color icon-size"></i>
                <i class="fa-brands fa-linkedin nav-link-color icon-size"></i>
            </div>
        </div>
        <div class="col-4">
            <h3 class=" text-center footer-heading-primary nav-link-color font-bold mb-4 footer-primary-heading-color"> Quick Links
            </h3>
            <div class="row gap-3">
                <div class="col-5 box-background text-center">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-white link-light" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white link-light" href="#">The Academy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white link-light" href="#">Academics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white link-light" href="#">Infrastructure</a>
                        </li>
                    </ul>
                </div>
               <div class="col-5 box-background text-center">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-white link-light" href="#">Admissions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white link-light" href="#">Press Coverage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white link-light" href="#">Vacancies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white link-light" href="#">Gallery</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-4">
            <h3 class=" text-center footer-heading-primary nav-link-color font-bold mb-4 footer-primary-heading-color">Contact Visit
                Us
            </h3>
          <div class="d-flex justify-content-center">
              <img src="../../../assets/Footer/Map.jpg" alt=""  class="img-fluid rounded ">
          </div>
        </div>
    </div>
</div>