<nav class="navbar navbar-expand-lg navbar-light bg-primary sticky-top">
  <div class="container-fluid cursor-pointer mx-5 ">
    <img src="../../../assets/Home/logo.png" alt="" class="logo-small">
    <a class="navbar-brand text-white RMCP">RMCP ACADEMY</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Home -->
        <li class="nav-item ">
          <a class="nav-link text-white active" routerLink="/Home">Home</a>
        </li>

        <!-- The Academy -->
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle text-white" id="academyDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            The Academy
          </a>
          <ul class="dropdown-menu" aria-labelledby="academyDropdown">
            <li><a class="dropdown-item" routerLink="/TheAcademy/AboutRMCP">About RMCP</a></li>
            <li><a class="dropdown-item" routerLink="/TheAcademy/MissionStatement">Mission Statements</a></li>
            <li><a class="dropdown-item" routerLink="/TheAcademy/FounderMessage">Founder Messages</a></li>
            <li><a class="dropdown-item" routerLink="/TheAcademy/ChairpersonMessages">Chairperson Message</a></li>
            <li><a class="dropdown-item" routerLink="/TheAcademy/PrincipalMessage">Principal's Messages</a></li>
            <li><a class="dropdown-item" routerLink="/TheAcademy/Accreditation">Accreditation</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" data-bs-auto-close="outside" id="academicsDropdown"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Academics
          </a>
          <ul class="dropdown-menu" aria-labelledby="academicsDropdown">
            <!-- Nested Dropdown -->
            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"
                aria-expanded="false">Methodology</a>
              <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-item" routerLink="/Academics/PrimaryWing">Primary Wing</a></li>
                <li><a href="#" class="dropdown-item" routerLink="/Academics/MiddleWing"> Middle Wing </a></li>
                <li><a href="#" class="dropdown-item" routerLink="/Academics/SeniorWing">Senior Wing</a></li>
              </ul>
            </li>

            <!-- Regular Dropdown Items -->
            <li><a class="dropdown-item" routerLink="/Academics/HolisticDevelopment">Holistic Development</a></li>
            <li><a class="dropdown-item" routerLink="/Academics/TechnologyIntegration">Technology Integration</a></li>
            <li><a class="dropdown-item" routerLink="/Academics/GuidanceCouncelling">Guidance & Counselling</a></li>
          </ul>
        </li>
        <!-- Infrastructure -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" data-bs-auto-close="outside" id="academicsDropdown"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Infrastructure
          </a>
          <ul class="dropdown-menu" aria-labelledby="academicsDropdown">
            <!-- Nested Dropdown -->

            <li><a class="dropdown-item" href="#">Auditorium</a></li>
            <li><a class="dropdown-item" routerLink="/Infrastructure/SportFacilities">Sport Facilities</a></li>
            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"
                aria-expanded="false">Facilities</a>
              <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-item" routerLink="/Academics/PrimaryWing">Transpotation</a></li>
                <li><a href="#" class="dropdown-item" routerLink="/Academics/MiddleWing"> Health Clinic </a></li>
                <li><a href="#" class="dropdown-item" routerLink="/Academics/SeniorWing">Security</a></li>
              </ul>
            </li>
            <!-- Regular Dropdown Items -->
            <li><a class="dropdown-item" href="#">Learning Center</a></li>
            <li><a class="dropdown-item" href="#">Infrastructure</a></li>
            <li><a class="dropdown-item" href="#">Libarary</a></li>
          </ul>
        </li>
        <!-- Admissions -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" data-bs-auto-close="outside" id="academicsDropdown"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admissions
          </a>
          <ul class="dropdown-menu" aria-labelledby="academicsDropdown">
            <!-- Nested Dropdown -->

            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"
                aria-expanded="false">Admissions</a>
              <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-item" routerLink="/Academics/PrimaryWing">Primary Wing</a></li>
                <li><a href="#" class="dropdown-item" routerLink="/admissions/MiddleWing"> MiddleWing </a></li>
                <li><a href="#" class="dropdown-item" routerLink="/Academics/SeniorWing">SeniorWing</a></li>
              </ul>
            </li>
            <!-- Regular Dropdown Items -->
            <li><a class="dropdown-item" routerLink="/admissions/TCRequest">TC Request</a></li>

          </ul>
        </li>
        <!-- Press Coverage -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" id="pressDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Press Coverages
          </a>
          <ul class="dropdown-menu" aria-labelledby="pressDropdown">
            <li><a class="dropdown-item" routerLink="/PressCoverage/PressCoverage">Press Coverages</a></li>
            <li><a class="dropdown-item" routerLink="/PressCoverage/EMagazine">E-magazines</a></li>
          </ul>
        </li>

        <!-- Others -->
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/Vacancies">Vacancies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/Gallery">Gallery</a>
        </li>
      </ul>
    </div>
  </div>
</nav>