<nav class="navbar navbar-expand-lg navbar-light bg-primary sticky-top">
    <div class="container-fluid cursor-pointer mx-5 ">
        <img src="../../../assets/Home/logo.png" alt="" class="logo-small ">
        <a class="navbar-brand text-white RMCP">RMCP ACADEMY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white active" aria-current="page" routerLink="/">Home</a>
                </li>

                <!-- Proper Dropdown Item -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" id="academyDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        The Academy
                    </a>
                    <ul class="dropdown-menu  " aria-labelledby="academyDropdown">
                        <li class="m-end-3"><a class="dropdown-item" routerLink="TheAcademy/AboutRMCP">About RMCP</a>
                        </li>
                        <li class="m-end-3"><a class="dropdown-item" routerLink="TheAcademy/MissionStatement">Mission
                                Statements</a></li>
                        <li class="m-end-3"><a class="dropdown-item" routerLink="TheAcademy/FounderMessage">Founder
                                Messages</a></li>
                        <li class="m-end-3"><a class="dropdown-item"
                                routerLink="TheAcademy/ChairpersonMessages">Chairperson Message</a></li>
                        <li class="m-end-3"><a class="dropdown-item"
                                routerLink="TheAcademy/PrincipalMessage">Principal's Messages</a></li>
                        <li class="m-end-3"><a class="dropdown-item"
                                routerLink="TheAcademy/Accreditation">Accreditation</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="academicsDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Academics
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="academicsDropdown">
                        <li class="dropdown"><a class="dropdown-item drop" href="#">Methodology</a></li>
                        <li><a class="dropdown-item" routerLink="Academics/HolisticDevelopment">Holistric
                                Development</a></li>
                        <li><a class="dropdown-item" routerLink="Academics/TechnologyIntegration">Technology
                                Integration</a></li>
                        <li><a class="dropdown-item" routerLink="Academics/GuidanceCouncelling">Guidance &
                                Counselling</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="InfrastructureDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Infrastructure
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="InfrastructureDropdown">
                        <li><a class="dropdown-item" href="#">Auditorium</a></li>
                        <li><a class="dropdown-item" href="#">Sport Facilities</a></li>
                        <li><a class="dropdown-item" href="#">Facilities</a></li>
                        <li><a class="dropdown-item" href="#">Learning Center</a></li>
                        <li><a class="dropdown-item" href="#">Infrastructure</a></li>
                        <li><a class="dropdown-item" href="#">Libarary</a></li>
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="admissionsDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Admissions
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="admissionsDropdown">
                        <li><a class="dropdown-item">Admission</a></li>
                        <li><a class="dropdown-item">TC Request</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" id="pressDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Press Coverages
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="pressDropdown">
                        <li><a class="dropdown-item" routerLink="PressCoverage/PressCoverage"> Press Coverages</a></li>
                        <li><a class="dropdown-item" routerLink="PressCoverage/EMagazine" >E-magazines</a></li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white">Vacancies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="Gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white">Admine</a>
                </li>
            </ul>
        </div>

    </div>
</nav>