.w-200{
    width: 200px;
    height: 220px;
}
 .carousel,
    .carousel-item,
    .carousel-item img {
      height: 93vh;
     
      object-fit: cover;
    }

    .margin-bottom-100{
        margin-bottom: 100px;
    }
    .f-20{
      font-size: 20px;
    }