<app-navigation></app-navigation>
<div class="container mt-5">
    <h2 class="Main-heading-size font-bold text-center mb-4 ">Integration <span class="text-blue">Integration</span>
    </h2>
    <p class=" text-center heading-secondory mb-5">Empowering education through innovative digital solutions</p>
    <p class=" p-2">At Amity, we integrate cutting-edge technology across our curriculum to prepare students for the digital world. Our technology infrastructure supports immersive learning experiences, fosters digital literacy, and enables students to become confident creators and critical thinkers in a technology-driven global society.</p>
    <p class="p-2">The holistic curriculum encourages students to be active learners who explore, understand and
        participate in the world around them. By exposing students to a wide variety of disciplines we fine-tune both
        cognitive and non-cognitive skills so as to prepare them for a well-balanced life outside of Academy.</p>

    <div class="d-flex gap-4 mt-4 mb-3">
        <div class="col-4 border border-primary rounded p-4">
            <h5 class="pb-3 d-flex gap-2 align-items-center">
                <i class="fa-solid fa-brain"></i> Intellectual Growth
            </h5>
            <p class="heading-secondory">Stimulating critical thinking, creativity, and problem-solving skills through
                academic excellence and
                intellectual challenges.</p>
        </div>

        <div class="col-4 border border-primary rounded p-4 ">
            <h5 class="pb-3 d-flex gap-2 align-items-center"> <i class="fa-regular fa-heart"></i>Intellectual Growth
            </h5>
            <p class="heading-secondory">Stimulating critical thinking, creativity, and problem-solving skills through
                academic excellence and
                intellectual challenges.</p>
        </div>
        <div class="col-4 border border-primary rounded p-4">
            <h5 class="pb-3 d-flex gap-2 align-items-center"> <i class="fa-solid fa-dumbbell"></i>Intellectual Growth
            </h5>
            <p class="heading-secondory">Stimulating critical thinking, creativity, and problem-solving skills through
                academic excellence and
                intellectual challenges.</p>
        </div>
    </div>

    <div class="Our-Educational bg  rounded p-4 mb-3">
        <div class="row ">
            <h4 class="mb-2">Our Educational Philosophy</h4>
            <div class="row">
                <div class="col-6">
                    <p class="mb-2">At RMCP, we believe that education goes beyond textbooks and classrooms. Our
                        approach integrates academics with experiential learning, encouraging students to discover their
                        unique talents and interests.</p>
                    <h6 class="mb-2">Collaborative Learning Environments</h6>
                    <h6 class="mb-2">Arts & Cultural Immersion</h6>
                </div>
                <div class="col-6">
                    <div class="border-start border-4 border-color px-4 ">
                        <p>“The highest education is that which does not merely give us information but makes our life
                            in harmony with all existence.”</p>
                        <p style="color: #7dd3fa;">— Rabindranath Tagore</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="Our-Educational bg  rounded p-4 mb-3">
        <h4 class="mb-2 text-orange-700"> <i class="fa-solid fa-camera "></i>Glimpses of Holistic Learning</h4>
        <p class="mb-4 text-orange-800">Our students engage in a variety of activities that promote their overall
            development and prepare them for future success.</p>
        <div class="row">
            <div class="col-3">
                <img src="../../../assets/Academics/Holistic Development/Holistic Development 1.jpg" alt=""
                    class=" image-fluid w-100 rounded">
            </div>
            <div class="col-3">
                <img src="../../../assets/Academics/Holistic Development/Holistic Development 2.jpg" alt=""
                    class=" image-fluid w-100 rounded">
            </div>
            <div class="col-3">
                <img src="../../../assets/Academics/Holistic Development/Holistic Development 3.jpg" alt=""
                    class=" image-fluid w-100 rounded">
            </div>
            <div class="col-3">
                <img src="../../../assets/Academics/Holistic Development/Holistic Development 4.jpg" alt=""
                    class=" image-fluid w-100 rounded">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>