
<app-navigation> </app-navigation>
<div class="container">
    <div class="mx-5">

        <form action="">
            <div class="academics-bg px-3 py-4 mb-5 px-3 py-4 rounded-5">
                <h3 class="text-xl mb-3 text-sky-700 "> <i class="fa fa-user"></i>Student Details</h3>
                <div class="d-flex gap-3 mb-3 ">
                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800">Student First Name</label>
                        <input type="text"
                         class="form-control" 
                         id="stdName">
                    </div>
                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800">Student First Name</label>
                        <input type="text"
                         class="form-control" 
                         id="stdName">
                    </div>
                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800">Student First Name</label>
                        <input type="text"
                         class="form-control" 
                         id="stdName">
                    </div>
                </div>
                <div class="d-flex gap-3 mb-3">
                    <div class="col-6">
                        <label for="stdName" class="form-label">Student Aadhar Number</label>
                        <input type="text" class="form-control" id="stdName">
                    </div>
                    <div class="col">
                        <label for="stdName" class="form-label"><span><i class="fa-regular fa-file"></i></span>Student
                            Aadhar Document</label>
                        <input type="file" class="form-control" id="stdName">
                    </div>

                </div>
                <div class="d-flex mb-3">
                    <div class="col ">
                        <label for="stdName" class="form-label text-sky-800"><span> <i
                                    class="fa-regular fa-file"></i></span>Student Birth Certificate</label>
                        <input type="file"
                         class="form-control" 
                         id="stdName">
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800"><span><i
                                    class="fa-solid fa-camera"></i></span> Student Passport Photo</label>
                        <input type="file"
                         class="form-control" 
                         id="stdName">
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800">Student Migration Document</label>
                       <input type="file"
                         class="form-control" 
                         id="stdName">
                    </div>
                </div>
            </div>

            <!-- Father Details  -->
            <div class="Father-detalis academics-bg px-3 py-4 mb-5">
                <h3 class="text-xl mb-3 text-sky-700"> <span><i class="fa-solid fa-user-tie"></i></span> Father Details
                </h3>
                <div class="d-flex gap-3 mb-3">
                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800">Father First Name</label>
                      <input type="text"
                         class="form-control" 
                         id="stdName">
                    </div>
                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800">Father Middle Name</label>
                        <input type="text"
                         class="form-control" 
                         id="stdName">
                    </div>
                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800">Father Last Name</label>
                        <input type="text"
                         class="form-control" 
                         id="stdName">
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800">Father Aadhar Document</label>
                        <input type="text"
                         class="form-control" 
                         id="stdName">
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800"> <span><i
                                    class="fa-solid fa-camera"></i></span> Father Passport Photo</label>
                      <input type="text"
                         class="form-control" 
                         id="stdName">
                    </div>
                </div>
            </div>

            <!-- Mother Details  -->
            <div class="Father-detalis academics-bg px-3 py-4 mb-5">
                <h3 class="text-xl mb-3 text-sky-700">Mother Details</h3>
                <div class="d-flex gap-3 mb-3">
                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800">Mother First Name</label>
                       <input type="text"
                         class="form-control" 
                         id="stdName">
                    </div>
                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800">Mother Middle Name</label>
                      <input type="text"
                         class="form-control" 
                         id="stdName">
                    </div>
                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800">Mother Last Name</label>
                      <input type="text"
                         class="form-control" 
                         id="stdName">
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800"><span><i
                                    class="fa-regular fa-file"></i></span>Mother Aadhar Document</label>
                        <input type="file"
                         class="form-control" 
                         id="stdName">
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800"> <span><i
                                    class="fa-solid fa-camera"></i></span> Mother Passport Photo</label>
                      <input type="file"
                         class="form-control" 
                         id="stdName">
                    </div>
                </div>
            </div>

            <!-- Additional Details -->
            <div class="Academic-detalis academics-bg px-3 py-4 mb-5">
                <h3 class="text-xl mb-3 text-sky-700">Additional Details</h3>
                <div class="d-flex gap-3 mb-3">

                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800">Domicile Certificate</label>
                         <input type="file"
                         class="form-control" 
                         id="stdName">
                    </div>
                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800">ABC Card</label>
                        <input type="file"
                         class="form-control" 
                         id="stdName">
                    </div>
                </div>
                <div class="d-flex gap-3 mb-3">

                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800">ABC Id</label>
                         <input type="text"
                         class="form-control" 
                         id="stdName">
                    </div>
                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800">Contact Number</label>
                       <input type="text"
                         class="form-control" 
                         id="stdName">
                    </div>
                </div>




            </div>
            <!-- Academic Details -->
            <div class="Academic-detalis academics-bg px-3 py-4 mb-5">
                <h3 class="text-xl mb-3 text-sky-700">Academic Details</h3>
                <div class="d-flex gap-3 mb-3">

                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800">Academic Class</label>
                       <input type="text"
                         class="form-control" 
                         id="stdName">
                    </div>
                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800">Academic Certificate</label>
                   <input type="file"
                         class="form-control" 
                         id="stdName">
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="col">
                        <label for="stdName" class="form-label text-sky-800">Previous Marksheet</label>
                     <input type="file"
                         class="form-control" 
                         id="stdName">
                    </div>
                    <div class="col"></div>
                </div>

                <label class="form-label me-3">Any Government Scholarship applicable:</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="govtScholarship" id="scholarshipYes" value="yes">
                    <label class="form-check-label" for="scholarshipYes">Yes</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="govtScholarship" id="scholarshipNo" value="no"
                        checked>
                    <label class="form-check-label" for="scholarshipNo">No</label>
                </div>
            </div>

            <div class="d-flex justify-content-end mb-5">
                <button type="submit" class="btn btn-primary"> <span><i class="fa-regular fa-cloud"></i></span>Submit
                    Application</button>
            </div>

        </form>
    </div>
</div>
<app-footer> </app-footer>