/* You can add global styles to this file, and also import other style files */
.Main-heading-size{
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.font-bold {
    font-weight: 700;
}
.text-blue{
    color: rgb(29 78 216);
}
.para-size{
    font-size: 1.125rem;
     line-height: 1.625;
}
.nav-link-color{
    color: #e0f2fe;
}
.heading-secondory{
    color: #4b5563;
}
p ,h1 ,h2,h3,h4,h5,h6{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*  */
.bg{
    background-color:#f0f9ff;
}
.border-color{

    border-color: #7dd3fa;
}
.text-orange-800{
    color: #9a3412;
}
.text-orange-700{
    color: #c2410c;
}