/* You can add global styles to this file, and also import other style files */
.Main-heading-size{
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.font-bold {
    font-weight: 700;
}
.text-blue{
    color: rgb(29 78 216);
}
.para-size{
    font-size: 1.125rem;
     line-height: 1.625;
}
.nav-link-color{
    color: #e0f2fe;
}